allow system_app sysfs_oplus_display:dir r_dir_perms;
allow system_app sysfs_oplus_display:file rw_file_perms;

allow system_app sysfs_input_suspend:file rw_file_perms;

